/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*---main-style---*/

@media only screen and (max-width: 768px){
	.wrap{
		padding:0;
		width: 100%;
	}
	.container{
		width: 100%;
	}
	.navbar-toggle{
		display: block;
	}
	.navbar-nav>li{
		float: none;
	}
	.navbar-collapse.collapse{
		display: none!important;
	}
	.navbar-collapse.in{
		display: block!important;
	}
	.nav li{
		margin-top: 20px;
	}

/*---header ---*/
.main-menu{
	text-align: center;
    justify-content: center;
}
.navbar-header{
	width: 100%;
}
.header{
	width: 100%;
	padding: 0;
}
.max-width768-none{
	display: none;
}
.nav li.min-width768-none{
	display: block;
}
/*---search---*/
.nav li.search{
	
	-o-clip-path:none;
	-moz-clip-path:none;
	-webkit-clip-path:none;
	clip-path:none;
	border-radius:10px;
	background-color: #F5F5F5;

}
.nav li.search button{
	float: right;
}
/*---filter---*/
.filter{
	width: 100%;
	float: left;
    text-align: left; 
    padding-left: 25px;

    display: flex;
    text-align: center;
    justify-content: center;
}
.filter li{
	display: block;

}
/*----products-item----*/
	
	.products-item{
		width: 100%;
	}
	.mask{
	text-align: center;

	color: #fff;

	}
	.mask h2 span{
		display: block;
		color: #fff;
	}
 	.mask button{
 	-o-clip-path:polygon(0% 50%,10% 0%, 90% 0%, 100% 50%, 90% 100%,10% 100%);
	-moz-clip-path:polygon(0% 50%,10% 0%, 90% 0%, 100% 50%, 90% 100%,10% 100%);
	-webkit-clip-path:polygon(0% 50%,10% 0%, 90% 0%, 100% 50%, 90% 100%,10% 100%);
	clip-path:polygon(0% 50%,10% 0%, 90% 0%, 100% 50%, 90% 100%,10% 100%);

	border: none;

	padding:3px 15px;

	margin-top: 10px;

	color: #000;
 	}
	
}