/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*---main-style---*/

@media only screen and (max-width: 768px){
	/*---wrap---*/
	.wrap{
		padding:0;
	}

	.container{
		width: 100%;
	}
	
	.clear{
		display: none;
	}

	/*---main-menu---*/
	.main-menu{
		display: none;
	}
	.main-menu li{
		float: none;
	}
	.navbar-header{
		display: block;
		float: right;
		margin-top: 3%;
	}
	.userform-none{
		display: block;
	}
	.navbar-nav{
		float: none;
	}

	/*---narbar-form---*/
	.narbar-form{
		display: none;
	}
	/*---product-area---*/
	.product-area ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}
@media only screen and (min-width: 320px) and (max-width: 767px)
{
	.wrap,.container,.content,.product-area{
		width: 100%;
		padding:0;
	}
	.produt-items{
		width: 100%;
	}
	.produt-items img{
		width: 100%;
	}
	.filter{
		padding-top: 0;
	}
	.filter ul li{
		display: block;
		padding:15px 0;
		border:1px solid #333;
		cursor: pointer;
	}
	.filter ul li:hover{
		background-color: #333;
		color: #fff;
	}
}